<div class="container-fluid mt-5 mb-3">
    <div class="row">
     <% for(let i = 0; i < product.length; i++){%>
        <div class="col-4">
            <div class="card mb-5">
                <div class="card-header bg-warning">
                    <div class="row">
                        <div class="col-9">
                            <h3><%= product[i].title;%></h3>
                        </div>
                        <div class="col-2">
                            <i class="fa-solid fa fa-heart" style="color:red; font-size:50px ;"></i>
                        </div>
                        <div class="col-1 text text-right">
                            <div class="row">
                                <div class="col-7"></div>
                                  <div class="col-5">
                                    <a href="/delete-product?productId=<%=product[i].id; %>">
                                      <i class="fa-solid fa fa-times" style="font-size:30px;"></i>
                                    </a>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body  text text-center"><img src="/profile-images/<%= product[i].image%>" height="200px" width="150px"/></div>
                <div class="card-footer bg-secondary mt-5">
                    <div class="row">
                        <div class="col-8">
                            <h2>Price:<%= product[i].price;%></h2>
                        </div>
                        <div class="col-4">
                            <a href="/cart?productId=<%= product[i].id; %>" class="btn btn-danger">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
      </div>
      <%}%>

</div>